<div class="main">
    <div class="card text-center container-fluid p-5">
        <div class="card-header">
            NodeJS MongoDb Mongoose Aync/await Handlebars 
        </div>
        <div class="card-body">
            <h5 class="card-title">Bienvenido al Proyecto de Recetas</h5>
            <p class="card-text">Aca podemos realizar diferentes acciones, podemos insertar una receta, las podemos
                listar, actualizar y borrar</p>
        </div>
        <div class="card-footer text-muted">
            FrontEnd Basico con Bootstrap 5
        </div>
    </div>
</div>