 {{#if error}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
 {{/if}}

  {{#each erroresMsg}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{texto}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
 {{/each}}

  {{#each error_receta}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
 {{/each}}


