<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <h3 class="text-center" >
                ¡Inicia Sesion!
            </h3>
            <div class="card-body">
                <form action="/sesion/usuario" method="POST">
                    <div class="form-group">
                        <h6 class="card-title text-white d-flex justify-content-between aling-items-center">
                        Correo
                        </h6>
                        <input type="email" name="correo" class="form-control" placeholder="coloca tu correo">
                    </div>   
                    <div class="form-group">
                        <h6 class="card-title text-white d-flex justify-content-between aling-items-center">
                        Contraseña
                        </h6>
                        <input type="password" name="contraseña" class="form-control" placeholder="Coloca la contraseña correcta">
                    </div>
                    <button type="submit" class="btn btn-warning btn-block">
                        Loguearse
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>